/*-----------------------------------------------------------*/
/*------------------------ NOTBOOK --------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1200px) {
	
	section { padding: 60px 0; }
}

/*-----------------------------------------------------------*/
/*------------------------ TABLET ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1023px) {
	section { padding: 40px 0; }

	header {
	background-size: 640px 640px;
	margin-bottom: -150px;

	}

	.main-nav {
		margin-right: 130px;
		margin-bottom: -100px;
	}

	.hero-text {
		margin-left: 70px;
	}


}

/*-----------------------------------------------------------*/
/*------------------------ MOBILE ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 480px) {
	/*global*/
	body { font-size: 20px; }


	/*header*/
	header {
	background-size: 280px 280px;
	}

	.hero-text {
	transform: translate(-27%, -27%);
	font-size: 10px;
	}

	h2 {
	text-align: left;
	margin-left: 150px;
	font-size: 120%;
	}

	h2:after {
	content: " ";
	text-align: left;
	}

	/*nav*/
	.main-nav {
	font-size: 14px;
	float: left;
	margin-left: 45px;
	}
}