/*-----------------------------------------------------------*/
/*------------------------ NOTBOOK --------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1200px) {
	
	section { padding: 60px 0; }
}

/*-----------------------------------------------------------*/
/*------------------------ TABLET ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1023px) {
	section { padding: 40px 0; }

	header {
	background-size: 640px 640px;
	margin-bottom: -150px;

	}

	.main-nav {
		margin-right: 130px;
		margin-bottom: -100px;
	}

	.hero-text {
		margin-left: 70px;
	}


}