.circle-chart {
    width: 150px;
    height: 150px;
}

.circlechart {
    margin: 0px 19px 50px;
}

.circle-chart__circle {
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;
}

.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1, -1);
}

.circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none;
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

.circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
}

.circle-chart__subline {
    text-anchor: middle;
    font-size: 3px;
}

.success-stroke {
    stroke: #ffbb33;
}

.warning-stroke {
    stroke: #ffbb33;
}

@media (max-width: 480px) {
    .circle-chart {
        margin-left: 130px;
    }
}

@media (max-width: 375px) {
    .circle-chart {
        margin-left: 80px;
    }
}

@media (max-width: 360px) {
    .circle-chart {
        margin-left: 70px;
    }
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}