/*======================================
*            Global CSS                *
======================================*/

* {
    scroll-behavior: smooth;
}

section,
header {
    margin-bottom: 100px;
}

.sub-heading {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #413960;
}

.sub-heading:after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    background-color: #413960;
    margin-top: 15px;
}

.s {
    margin-bottom: 80px;
}

.row {
    margin-bottom: 15px;
}


/*======================================
*        Portfolio scetion             *
======================================*/

.c-space {
    margin-top: 100px;
}

.cat-img {
    width: 100%;
}

.portfolio-icon {
    height: 150px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #f2f2f2;
}

.feedback-person {
    border-radius: 50%;
}

.card-img-right {
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*======================================
*            Navacation Bar            *
======================================*/

.bg-green {
    background-color: #F0FFF0;
}

.signIn-btn {
    padding: 8px 28px;
    border: 1px solid #FD511A;
    padding: .375rem .75rem;
    border-radius: .25rem;
    position: relative;
    z-index: 1;
}

.signIn-btn:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
}


/*======================================
*            Header Section            *
======================================*/

header {
    background-color: #F0FFF0;
}

header .row {
    padding: 80px 0;
}

.intro {
    color: #FD511A;
    font-size: 22px;
    margin: -10px 0px;
}

.about {
    font-size: 25px;
    text-align: center;
    margin: 22px 0 100px 20px;
}

header h1 {
    font-weight: 700;
}

header h1 span {
    color: #21B573;
}

.hero-text {
    color: #6C6B6B;
    padding: 20px 0;
}

.illustration-img {
    width: 100%;
    height: auto;
}


/*======================================
*            Section ICON              *
======================================*/

.card {
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border: 0;
}

.icon-card {
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    color: #413960;
}

.icon-card-highlight {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}


/*======================================
*          button                     *
======================================*/

.button {
    border-radius: 4px;
    /* background-color: #fff;  */
    border: none;
    color: #000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
}

.button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover a {
    padding-right: 25px;
    text-decoration: none;
}

.button:hover a:after {
    opacity: 1;
    right: 0;
}


/*======================================
*            work                      *
======================================*/

.works {
    background-color: #F4F4F4;
    padding: 20px;
}

.work-img {
    width: 120%;
    height: auto;
    float: right;
    padding-right: 4%;
}

.w-img {
    width: 100%;
    height: auto;
}

.work-step span {
    display: inline-block;
    color: #3b5998;
    border: 2px solid #3b5998;
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
}

.work-step p {
    font-size: 25px;
    text-align: justify;
}

.work-step div {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.works a {
    margin-left: 20px;
}

.i-work {
    border: 1px solid rgb(255, 255, 255);
    margin: 20px 0px;
}


/*======================================
*           Card           *
======================================*/

.card-img-top {
    padding: 20px;
    width: 100px;
    height: 200px;
    transform: scale(1.02);
    opacity: 100%;
    transition: transform 0.5s
}

.card-img-top:hover {
    transform: scale(1.30);
    opacity: 100%;
}

.card-icon {
    width: 20px;
    float: left;
    margin-right: 5px;
}

.card-footer-icon {
    margin-top: 20px;
}


/*======================================
*          Footer Section              *
======================================*/

footer {
    background-color: #282531;
    color: #fff;
    padding: 50px 0;
}

footer ul {
    list-style: none;
}

.contact-form,
.contact-btn {
    width: 100%;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer .row {
    margin-right: 0;
}