/*-----------------------------------------------------------*/
/*------------------------ MOBILE ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 480px) {

	.row { width: 480px; 
	}
	
	.logo {
	margin: 5PX 0px;
	}

	.contact {
	font-size: 100%;
	margin: 5PX 45px;
	}

	h1 {
	word-spacing: 5px;
	font-size: 160%;
	margin-bottom: 20px;
	}

	p {	
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  line-height: 150%;
	}

	.project-img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
	  margin: 20px auto;
	}

	.project-details {
	  display: block;
	  margin-left: auto;
	  margin-right: 0;
	}

	.project-details:hover {
	transform: scale(1.10);
	transition: transform 1.2s;
	color: #c7c7c7;
	}

	.box:hover {
	transform: scale(1.04);
	transition: transform 1.10s;
	color: #c7c7c7;
	}

	.box { 
	 border: 4px solid #c7c7c7;
	 overflow: hidden;
	}

	footer {;
	margin-top: -20px;
	}
}