@media (max-width: 480px) {
    .logo {
        margin-left: 30px;
    }
    .contact {
        font-size: 100%;
        text-align: left;
    }
    h1 {
        word-spacing: 5px;
        font-size: 160%;
        margin-bottom: 20px;
    }
    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        line-height: 150%;
    }
    .project-img {
        height: 10%;
        width: 10%;
    }
    .project-details {
        font-size: 5px;
    }
    .project-details:hover {
        transform: scale(1.10);
        transition: transform 1.2s;
        color: #c7c7c7;
    }
    .box:hover {
        transform: scale(1.04);
        transition: transform 1.10s;
        color: #c7c7c7;
    }
    .box {
        box-sizing: border-box;
        border: 4px solid #c7c7c7;
    }
    footer {
        margin-top: -20px;
    }
}